<h3> {{ title }} </h3>

<div *ngIf="logged == false">
  <app-key (newLoginEvent)="showPost($event)" (newRegisterEvent)="getKey()"> </app-key> <br/><br/>
</div>

<div *ngIf="logged == true">

  Ti sei autenticato come: {{ user }} <br/> <br/>
  <app-new-post (newPostEvent)="addPost($event)"> </app-new-post>

  <ul>
    <li *ngFor='let post of arrayPostIT'>
      <button (click)="mostra(post)">{{post.titolo}}</button>
      <button (click)="deletePost(post)"> X </button>
    </li>
  </ul>

  <app-notifica [dato]="selezione"> </app-notifica>

</div>