<h3> {{ title }} </h3>

<app-new-post (newPostEvent)="addPost($event)"> </app-new-post>


<ul>
  <li *ngFor='let post of arrayPostIT'>
    <button (click)="mostra(post)">{{post.titolo}}</button>
    <button (click)="deletePost(post)"> X </button>
  </li>
</ul>

<app-notifica [dato]="selezione"> </app-notifica>

<button (click)="getKey()"> NUOVO UTENTE </button><br/><br/>
Ti sei autenticato come: {{ user }} <br/><br/>
<input #chiave>
<button (click)="showPost(chiave.value); chiave.value=''"> ACCEDI </button>
